@charset "UTF-8";
* {
  color: #043c78;
}

/* header */
/* hamburger*/
:root {
  --hamburger-menu-size: 60px;
  /* メニューの大きさ */
  --hamburger-menu-padding: 10px;
  --hamburger-menu-border-px: 15px;
  /* 線の太さ */
  --hamburger-menu-transition: 0.3s;
  /* アニメーション秒数 */
}

.hamburger-menu {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.hamburger-menu-line {
  position: absolute;
  transition: var(--hamburger-menu-transition);
  width: calc(100% - var(--hamburger-menu-padding) * 2);
  height: var(--hamburger-menu-border-px);
  background-color: var(--hamburger-menu-border-color);
}

.line-top {
  top: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
  --hamburger-menu-border-color: #f0cb53;
  /* 線の色 */
}

.line-middle {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  left: var(--hamburger-menu-padding);
  --hamburger-menu-border-color: #f32a07;
  /* 線の色 */
}

.line-bottom {
  bottom: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
  --hamburger-menu-border-color: #f0cb53;
  /* 線の色 */
}

.hamburger-menu-active > .line-top {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(45deg);
}

.hamburger-menu-active > .line-middle {
  width: 0;
  height: 0;
  left: var(--hamburger-menu-padding);
}

.hamburger-menu-active > .line-bottom {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(-45deg);
}

.toptitle, h2 .top {
  border: none;
}

#slideshow {
  position: relative;
  display: block;
  width: 100vh;
  /* 画像の横幅に合わせて記述 */
  height: 100%;
  /* 画像の高さに合わせて記述 */
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0.0;
  background-size: cover;
}

#slideshow img.active {
  z-index: 10;
  opacity: 1.0;
}

#slideshow img.last-active {
  z-index: 9;
}

.intro {
  margin-left: 50px;
}

.intro .img {
  background-size: 30px;
  rotate: -75;
}

/* slider */
.swiper-container {
  height: 500px;
  width: 75%;
}

.swiper-slide img {
  height: 300px;
  width: 100%;
}
