@charset "UTF-8";
* {
  color: #043c78;
  font-family: 游ゴシック体,YuGothicNoto Sans CJK JP, 02うつくし明朝体,02UtsukushiMincho;
  background-color: #faf8f0;
}

/* header */
.box {
  position: relative;
}

.box nav .menu {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
}

/* drawer */
nav {
  position: relative;
  width: 15%;
  height: 60px;
  background: #c0c0c0;
}

.hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
  margin-left: 50px;
}

.navbar_toggle {
  z-index: 9999;
}

.navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.navbar_toggle_icon:nth-child(1) {
  top: 0;
  background: #f0cb53;
  text-shadow: 1px 1px 3px #faf8f0;
}

.navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
  background: #f32a07;
  text-shadow: 1px 1px 3px #faf8f0;
}

.navbar_toggle_icon:nth-child(3) {
  top: 0;
  background: #f0cb53;
  text-shadow: 1px 1px 3px #faf8f0;
}

/*OPEN時の動き*/
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu {
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
  -webkit-transition: ease .5s;
  transition: ease .5s;
  z-index: 1000;
}

.menu ul li {
  padding: 2em;
  border-bottom: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.6);
}

/*OPEN時の動き*/
.menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* 上のスライド */
#slideshow {
  border: none;
  position: relative;
  display: block;
  width: 100vw;
  /* 画像の横幅に合わせて記述 */
  height: 90vh;
  /* 画像の高さに合わせて記述 */
  background-size: cover;
  margin-bottom: 50px;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0.0;
  width: 100vw;
  height: 90vh;
  box-shadow: inset 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

#slideshow img.active {
  z-index: 10;
  opacity: 1.0;
}

#slideshow img.last-active {
  z-index: 9;
}

/*上のスライドここまで*/
.name {
  margin-bottom: 30px;
  font-weight: bolder;
}

.lead {
  width: 100% !important;
  padding: 10px;
  margin-bottom: 50px;
}

/* slider */
.swiper-container {
  height: 400px;
  width: 75%;
  margin-bottom: 80px;
}

.swiper-slide img {
  height: 300px;
  width: 100%;
}

.swiper-pagination {
  margin-top: 10px;
}

/* アクセス*/
#access {
  margin-bottom: 100px;
}

#title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

#title h2 {
  font-size: bold;
}

#mapBox {
  display: flex;
  justify-content: space-around;
}

#mapBox table {
  display: flex;
  align-items: center;
}

#mapBox table th {
  font-size: 27px;
  padding: 5px;
}

#mapBox table td {
  font-size: 20px;
  padding-left: 30px;
}

.gMap iframe {
  width: 800px;
  height: 600px;
}

/*youtube*/
.voice {
  text-align: center;
  margin: 0,10,0,10;
}

#youtube {
  display: flex;
  justify-content: space-around;
  margin-right: 0px;
  margin-left: 20px;
}

#youtube .CD {
  font-weight: bold;
  align-items: center;
}

#youtube img {
  width: 450px;
}

#youtube iframe {
  width: 500px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.col-md-8 a {
  color: #faf8f0;
  background-color: #043c78;
}

.footer-share {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.copyright {
  display: flex;
  justify-content: center;
}

/*レスポンシブ対応*/
/*小型PC*/
@media screen and (max-width: 1280px) {
  /*アクセス*/
  #mapBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mapBox table {
    margin-top: 10px;
    padding-bottom: 3px;
  }
  #mapBox table th {
    font-size: 25px;
  }
  .gMap iframe {
    width: 80vw;
  }
}

/*タブレット*/
@media screen and (max-width: 960px) {
  body {
    min-width: 850px;
  }
  #slideshow {
    width: 100vw;
    /* 画像の横幅に合わせて記述 */
    height: 65%;
    /* 画像の高さに合わせて記述 */
    margin-bottom: -35px;
    margin-left: 20px;
  }
  #slideshow img {
    width: 100vw;
    height: 75%;
  }
  .swiper-container {
    height: 410px;
    width: 90%;
  }
  .swiper-slide img {
    height: 350px;
    width: 100%;
  }
  /*アクセス*/
  #mapBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mapBox table {
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 3px;
  }
  #mapBox table th {
    font-size: 25px;
  }
  .gMap iframe {
    width: 80vw;
    margin-left: 20px;
  }
  /*yuotube*/
  #youtube {
    width: 80%;
    padding-top: 50px;
  }
  #youtube img {
    width: 350px;
  }
  #youtube iframe {
    width: 400px;
    height: 270px;
    margin-right: -100px;
  }
}

/*スマートフォン*/
@media screen and (max-width: 480px) {
  body {
    min-width: 375px;
    max-width: 480px;
  }
  #slideshow {
    width: 100vw;
    /* 画像の横幅に合わせて記述 */
    height: 55%;
    /* 画像の高さに合わせて記述 */
    margin-bottom: -100px;
    margin-left: 0px;
  }
  #slideshow img {
    width: 100vw;
    height: 60%;
  }
  .name {
    font-weight: bold;
  }
  .lead {
    margin-top: 20px;
    width: 65%;
    font-size: 15px;
  }
  .swiper-container {
    height: 250px;
    width: 90%;
  }
  .swiper-slide img {
    height: 180px;
    width: 100%;
  }
  /*アクセス*/
  .gMap {
    width: 80%;
    height: 80%;
  }
  /*YouTube*/
  #youtube {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #youtube img {
    width: 350px;
  }
  #youtube .CD p {
    text-align: center;
  }
  #youtube iframe {
    width: 370px;
    height: 250px;
    margin-right: 10px;
  }
}
